table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 150px 1% 1% 1%;
  padding: 0;
  width: 98%;
  table-layout: fixed;
  line-height: 1.25;

}
.no-width {
  color: white;
  width: unset!important;
}
/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
.dataTables_wrapper {
  font-family: 'Mulish', sans-serif !important;
}
table.dataTable {
  border-collapse: unset!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: white !important;
}
.buttons {
  position: relative;
  top: 100px;
  margin-left: 20px;
}
.small {
  font-size: 13px;
}

.feedback-container {
  z-index: 1000000;
}
.feedback-container h3 {
  color: white;
}

.comm {
  color: white;
  font-size: 12px;
}
.feedback-text {
  width: 350px;
  height: 100px;
  padding: 5px;
  margin: 10px;
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
}

.form-balance:hover{
  background-color: white;
  border: solid var(--primaryColor) 1px;
  color: var(--primaryColor);

}
.emRRKe {
  background: rgb(88, 183, 55);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  height: 36px;
  width: fit-content;
  margin-left: 8px;
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;;
}

.form-balance{
  border: solid var(--white) 1px;
  color: white;
  background-color: var(--primaryColor);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.emoticon-container {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.green {
  color: #78ea3b!important;
}
.yellow {
  color: #d8d83f!important;
}
.red {
  color: #FF1C19!important;
}
.another {
  float: right;
}
.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}
.relative {
  transform: translate(0.8);
  margin-top: 2px;
}
.text-gray-700 {
  color: white;
  margin-right: 10px;
}

.userBlock {
  display: inline-flex;
}
.filled {
  fill: yellow;
  stroke: var(--primaryColor);
}

.stars {
  display: inline-flex;
  width: 60%;
}
.bg-gray-600 {
  background-color: var(--primaryColor);
}
.filter-buttons {
  display: flex;
  float: left;
  border: none;
  position: absolute;
  top: 184px;
  left: 230px;
  transform: translate(0, 50%);
  z-index: 100000;
}

.fin {
  float: right;
  margin: 100px 20px 20px 0;
}
.add-balance {
  position: absolute;
  transform: translate(-50%,200px);
  left: 50%;
  background-color: #333333;
  color: white;
}
.fin a:hover{
  background-color: white;
  border: solid var(--primaryColor) 1px;
  color: var(--primaryColor);

}

.fin a{
  border: solid var(--white) 1px;
  color: white;
  background-color: var(--primaryColor);
  border-radius: 5px;
  padding: 5px;
}
table.dataTable {
  margin-top: 110px;
}
.filter-buttons form select, .filter-buttons form select option {
  padding: 4px;
  border-radius: 4px;
}
.filter {
  background: none;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  border: solid 1px white;
}
table.dataTable tbody th, table.dataTable tbody td {
  text-align: left!important;
  background-color: white;
}
.dataTables_info, .paginate_button,.dataTables_filter, .dataTables_length, .paginate_button, .current  {
  color: white!important;
}
.dataTables_wrapper .dataTables_filter input {
  background-color: white!important;
}
.link {
  font-size: .85em;
  padding: 3px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.button {
  font-size: 1em;
  color: white;
  padding: 5px;
  border: solid 2px white;
}

.button, .link {
  white-space: nowrap;
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

}
.button:hover, .link:hover {
  border-bottom: 2px solid var(--primaryColor);
}
.transparent {
  background-color: transparent;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.sub {
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: white!important;
}

table {
  opacity: 0.8!important;
}
.main-b {
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.main-b:hover {
  background: var(--primaryColor);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--primaryColor),
  0 0 25px var(--primaryColor),
  0 0 50px var(--primaryColor),
  0 0 100px var(--primaryColor);
}
table tr {
  color: white;
  background-color: var(--primaryColor)!important;
  border: 1px solid #ddd;
  padding: .35em;
}
td {
  color: black!important;
}


table th,
table td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
select {
  color: white!important;
  background: var(--primaryColor)!important;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
 td a {
   text-decoration: none;
   color: black;
 }

td a:hover {
  color: var(--primaryColor);
}
.about {
  text-align: center;
  color: black;
  width: 500px;
  border-radius: 15px;
  height: 170px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none;
}

.head {
  font-weight: 800;
  margin-top: 64px;
  padding: 10px;
}