.validation-message {
    font-style: normal;
    font-size: 12px!important;
    color: #FF1C19!important;
}

.rules {
    background-color: white;
    color: #0F1D1F;
    width: unset !important;
}

.label_rules {
    margin-left: 30px !important;
    margin-top: 20px !important;
}
.label_rules {
    pointer-events: unset!important;
}
.label_rules a {
    font-size: unset!important;
    display: unset!important;
    padding: unset!important;
    text-transform: unset!important;
}
.bottom {
margin-top: 50px;
}

#message {
    font-size: 12px!important;
    font-style: normal;
}