<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Агентский договор</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/agent.css}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700" rel="stylesheet">

</head>

<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения</a></li>
				<li th:if="${user != null}"><a href="#" class="header__item">Покупки</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/myLots}" class="header__item">Продажи</a></li>
				<li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Финансы</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user" width="60" height="60" class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a th:href="@{/ref}">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>
<div th:if="${agent != null}"  class="wrapper">
	<div class="box sombra">
		<h3>АГЕНТСКИЙ ДОГОВОР (ДОГОВОР-ОФЕРТА):</h3>
		<p>Для Покупателей интернет-биржи playspase.ru</p>
		<p>Настоящий Агентский договор является частью публичной Оферты, размещенной по адресу: playspase.ru/agent (далее – Соглашения).</p>
		<p>Агентский договор считается заключенным между Гарантом Сделки (далее также - Агент) Сайта playspase.ru (далее также - Сайт) и Пользователем Сайта, являющимся Покупателем.</p>
		<p>Местом заключения Агентского договора является место нахождения Агента.</p>
		<p>Принимая Соглашение, вы даете полное и безоговорочное согласие на условия, изложенные в настоящем Агентском договоре.</p>
		<p>Если вы не согласны с каким-либо условием или оно вам непонятно, просьба не акцептовать Соглашение до устранения неясностей или несогласия.</p>

	</div>

	<div class="box sombra">
		<h3>1.	ПРЕДМЕТ ДОГОВОРА:<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		1.	Покупатель в качестве Принципала поручает Гаранту Сделки в качестве Агента совершать от имени Покупателя и за его счет юридические и иные действия по исполнению
			Сделок, заключаемых через Сайт Покупателем с Продавцами,
			и обязуется выплачивать Агенту агентское вознаграждение.
		<br>
		2.	Подтверждение (акцепт) Покупателем через Сайт Сделки с Продавцом
		означает автоматическое поручение Покупателем Агенту в соответствии с Агентским договором исполнять
		обязанности Покупателя по такой Сделке перед Продавцом и оказывать содействие
		в надлежащем ее исполнении Продавцом (так называемые услуги гаранта сделки).
		<br>
		3.	Агент назначается Сервисом на Сайте в зависимости от выбора Покупателем способа оплаты Товара и страны места нахождения Покупателя.
	</div>

	<div class="box sombra">
		<h3>2.	ПРАВА И ОБЯЗАННОСТИ СТОРОН:<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		1.	Отчеты агента в виде совершенных операций по мере прохождения сделок (совершения действий в качестве агента)
		размещаются в личном кабинете Пользователя, как правило, в течение часа, но не более 24 часов.
		<br>
		2.	Доказательства расходов, произведенных Агентом за счет Покупателя,
		в отчете агента не указываются. Покупатель выражает согласие по стоимости Сделки в момент подтверждения сделки с Продавцом.
		<br>
		3.	Покупатель, имеющий возражения по отчету агента, должен сообщить о них в течение 24 часов. В противном случае отчет считается принятым Покупателем.
	</div>



	<div class="box sombra">
		<h3>3.	Агентское вознаграждение и расходы playspase.ru.:<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		1.	Агентское вознаграждение выплачивается в два этапа и определяется как процент от:
		<br>
		1)	суммы, которую Покупатель вносит в качестве обеспечительного платежа по исполнению Агентом от
		имени Покупателя и за его счет обязательств последнего перед Продавцами по оплате Товара и по исполнению
		обязательств Покупателя перед Агентом по выплате агентского вознаграждения и возмещению агентских расходов.
		Данное вознаграждение выплачивается Покупателем (удерживается Агентом) в момент внесения суммы обеспечительного платежа.
		Размер вознаграждения автоматически рассчитывается Сайтом в пределах не более 5% от цены сделки между Продавцом и Покупателем,
		и итоговая сумма оплаты указывается Покупателю до заключения им сделки с Продавцом; И
		<br>
		2)	от цены конкретной сделки между Покупателем и Продавцом. Данное вознаграждение
		выплачивается Покупателем (удерживается Агентом) в момент исполнения Агентом обязанности Покупателя по оплате его Сделки, заключенной с Продавцом через Сайт. Размер вознаграждения автоматически рассчитывается Сайтом в пределах не более 15% от цены сделки между Продавцом и Покупателем и учитывается в сумме, которая отображается Покупателю до заключения им сделки с Продавцом.
		<br>
		2.	Расходы, понесенные Агентом для исполнения Агентский договора, компенсируются по мере их несения.
		<br>
		3.	Гарантия исполнения сделки.
	</div>

	<div class="box sombra">
		<h3>4. Гарантия playspase.ru исполнения сделки между Продавцом и Покупателем<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		1.	Гарантия playspase.ru исполнения сделки между Продавцом и Покупателем реализуется через:
		Сайта (программный код), которым предусмотрено, что деньги Покупателя в счет оплаты сделки
		с Продавцом списываются у Покупателя (что гарантирует Продавцу оплату), но не поступают в распоряжение
		Продавца до подтверждения им факта исполнения сделки Продавцом (что гарантирует Покупателю получение согласованного имущества),
		И playspase.ru по досудебному рассмотрению спора, как это предусмотрено пунктом 2.3.2 Агентский договора (далее также – Арбитраж). :
		<br>
		2.	Правила Арбитража: Арбитраж несет материальную ответственность за разрешение споров в системе playspase.ru в размере, двукратно превышающим сумму сделки.
		Таким образом, в случае какой-либо ошибки в разрешении спора, сервис обязуется компенсировать все убытки (как прямые, так и косвенные).Когда необходимо участие арбитража?
		Участие арбитража необходимо в том случае, если участники сделки не в состоянии разрешить спор самостоятельно, при этом должно быть соблюдено условие - баланс рассматриваемой сделки отличен от нуля.
		В компетенцию арбитража входит вынесение решения о распределении средств сделки между её участниками. Как обратиться в арбитраж? Любой из участников сделки может подать заявку в арбитраж самостоятельно.
		Рассмотрение заявки начинается в течение 24 часов с момента обращения. Процесс рассмотрения заявки:
		1. прохождение процедуры идентификации. Арбитраж устанавливает паспортные данные участников (посредством отправки на почту playspase@mail.ru соответствующих отсканированных
		окументов и фотографий на фоне сайта playspase.ru). 2. при уклонении от идентификации или проведения разбирательства,
		арбитраж оставляет за собой право разрешить спор в пользу противоположной стороны.
		3. участники спора обязаны предоставить всю необходимую информацию по запросу арбитража.
		<br>
		3.	Если playspase.ru примет неверное решение при проведении Арбитража, то обязуется возместить пострадавшему Пользователю однократную цену сделки между
		Продавцом и Покупателем. Это является исключительной неустойкой playspase.ru (убытки сверх такой суммы возмещению не подлежат).
		<br>
		4.	Если Сделка не исполняется Продавцом, обеспечительный платеж подлежит возврату Покупателю, при этом агентское вознаграждение, рассчитываемое от цены сделки (пункт 2.2.1.2 Агентского договора),
		возвращается Покупателю, а вознаграждение, рассчитываемое от размера обеспечительного платежа (пункт 2.2.1.1 Агентского договора), не возвращается
	</div>

	<div class="box sombra">
		<h3>5. ИНЫЕ ПОЛОЖЕНИЯ<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		1.	Агентский договор является частью Соглашения, а потому действует постольку, поскольку действует Соглашение. Агентский договор не действует отдельно от Соглашения, самостоятельно.
		<br>
		2.	Агент и Пользователь (Покупатель) заключают настоящий Агентский договор в
		форме присоединения к нему в момент совершения конклюдентных действий, направленных на совершение Сделки между Покупателем и Продавцом.
		<br>
		3.	Актуальная редакция Агентского договора размещается по адресу: playspase.ru/agent.
		<br>
		4.	Агентский договор в редакции Гаранта Сделки, в случае, если такой договор-оферта предлагается Гарантом Сделки Пользователю Сайта, действует в части, не противоречащей Соглашению.
	</div>
</div>
<div th:if="${agreement != null}"  class="wrapper">
	<div class="box sombra">
		<h3>Пользовательское соглашение:</h3>
		<p>Настоящее соглашение (далее - Соглашение) регулирует отношения между Клиентом и Агентом. Осуществляя регистрацию на сайте Агента, Клиент подтверждает свое согласие и принятие условий Соглашения.</p>

	</div>

	<div class="box sombra">
		<h3>1.	Основные понятия:<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		1.1.	Агент – PlaySpase.ru, оказывающий Клиентам Посреднические Услуги в соответствии с Соглашением;
		<br>
		1.2.	Клиент - физическое лицо, заинтересованное и/или обратившееся к Агенту за получением Посреднических Услуг;
		<br>
		1.3.	Посреднические услуги - действия Агента, осуществляемые Агентом от своего имени, но за счет
		Клиента, направленные на организацию взаимодействия Клиента с Игроками по осуществлению ими тех или иных действий в рамках соответствующего Развлекательного Приложения;
		<br>
		1.4.	Развлекательное Приложение - интерактивная компьютерная онлайн игра, являющаяся программой для ЭВМ;
		<br>
		1.5.	Игрок - лицо, являющееся участником Развлекательного Приложения;
		<br>
		1.6.	Игровой Объект - Игровой Аккаунт, Игровой Ресурс, Игровой Предмет;
		<br>
		1.7.	Игровой Аккаунт - учетная запись, содержащая сведения об Игроке, его игровом персонаже и его прогрессе в Развлекательном Приложении;
		<br>
		1.8.	Игровой Ресурс – валюта для совершения операция в данном развлекательном приложении
		(золото, монеты, рубли и др.), признаваемые по правилам соответствующего Развлекательного Приложения средством платежа либо иной игровой условной единицей,
		представляющей собой меру той или иной игровой ценности, прогресса в игре и т.п.;
		<br>
		1.9.	Игровой Предмет - игровое оружие, доспехи, одежда, артефакты, иные вещи, а также прочие индивидуально определенные предметы, используемые в Развлекательном Приложении;
		<br>
		1.10.	Прокачка Персонажа - действия, осуществляемые согласно правилам Развлекательного Приложения посредством соответствующего участия в Развлекательном Приложении,
		направленные на увеличение тех или иных игровых показателей персонажа: опыта, навыков, уровня, умений и др.
		качественных и/или количественных характеристик персонажа Развлекательного
		Приложения и/или прохождение того или иного игрового этапа;
		<br>
		1.11.	Сайт Агента - Интернет-сайт Агента, размещенные под доменным именем PlaySpase.ru

	</div>

	<div class="box sombra">
		<h3>2. Порядок оформления заказа и оказания Посреднических Услуг:<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		2.1.	Клиент обязан внимательно ознакомиться с Соглашением и иными правилами и инструкциями, касающиеся оказания Агентом Посреднических услуг (размещаются на Сайте Агента).
		<br>
		2.2.	Для оформления заказа Клиент выбирает посредством формы на Сайте Агента необходимую услугу и заполняет все поля, отмеченные как обязательные.
		Помимо прочего указанные поля будут содержать существенные условия сделки, заключаемой Агентом с третьими лицами (Игроками) для исполнения Соглашения.
		Агент вправе отойти от указанных условий только при условии, что это не ущемит интересы Клиента и не повлечет для него дополнительных расходов.
		В отношении не оговоренных Клиентом условий Агент вправе действовать по своему усмотрению.
		<br>
		2.3.	Клиент, отправляя Агенту заполненную форму, дает свое полное и безоговорочное согласие на соблюдение Соглашения и иных условий оказания Агентом услуг,
		изложенных на Сайте Агента, а также условий сделок, выбранных Клиентом при заполнении формы
		(характер, объем услуг, их стоимость и др.), на которых Агент будет заключать сделки с третьими лицами во исполнение Соглашения.
		<br>
		2.4.	После отправления формы заказа Клиент производит оплату по указанному тарифу. Указанная сумма оплаты направляется Агентом на оплату действий Игрока по заключенной с Агентом в интересах Клиента сделке, а также включает в себя вознаграждение Агента по Соглашению.
		<br>
		2.4.1.	Агент производит оплату игроку в течение 24 часов с момента подтверждения Клиентом выполнения Игроком заказа Клиента, а также получения соответствующей просьбы от Игрока, направленной Агенту через Сайт Агента. Агент вправе увеличить срок оплаты с 24 до 168 часов по своему усмотрению.
		<br>
		2.4.2.	Агент вправе не производить оплату Игроку в случае нарушения Игроком правил, размещенных на Сайте Агента.
		<br>
		2.4.3.	Агент вправе не производить оплату Игроку в случае поступления от Клиента соответствующей просьбы или претензии относительно оказанных услуг.
		<br>
		2.5.	Оплата производится любым из указанных на Сайте Агента способов. Стороны по обоюдному согласию могут выбрать иной способ оплаты.
		<br>
		2.6.	Клиент может поручить Агенту заключение сделки с Игроком для совершения действий, приводящих к передаче Клиенту Игрового Объекта, Прокачке Персонажа или с иными целями, а также других действий, указанных на Сайте Агента.
		<br>
		2.7.	В случае заказа Посреднических услуг, направленных на Прокачку Персонажа Клиента, Клиент обязуется передать Агенту необходимую информацию (данные Игрового Аккаунта - для входа в Развлекательное Приложение и осуществления игрового процесса соответствующим персонажем). Клиент понимает и соглашается, что указанная информация будет передана Агентом третьему лицу, для осуществления Прокачки Персонажа. Клиент обязуется не использовать свой Игровой Аккаунт без предварительного согласия Агента и/или вопреки инструкциям, которые Агент получит от соответствующего третьего лица.
	</div>



	<div class="box sombra">
		<h3>3.	Особые условия:<img th:src="@{/images/rules.png}" alt="warn" width="32" height="32"/></h3>
		3.1.	Клиент понимает и подтверждает, что Агент действует по поручению Клиента, что Агент выполняет лишь посреднические функции для Клиента и не может нести ответственность за возможные фактические и/или юридические последствия исполнения Игроком и иными третьими лицами заказа Клиента (например, в некоторых Играх могут быть предусмотрены игровые санкции за те или иные действия; Агент не осуществляет изучение и/или проверку правил Игр и не осуществляет проверку действий Клиента, в том числе связанных с Соглашением, на соответствие правилам Игр). Агент несет ответственность только за надлежащее совершение третьими лицами заказанных Клиентом действий, но не за их эффект, результат.
		<br>
		3.2.	Со стороны Агента надлежащим подписанием (аналогом собственноручной подписи) будет также считаться размещение документов на Сайте Агента, т. к. только Агент и уполномоченные им лица имеют право на доступ к информации, размещаемой на Сайте Агента. Документы, размещенные на Сайте в результате преступных действий третьих лиц, не будут иметь юридическую силу для Сторон.
		<br>
		3.3.	Сообщения, направляемые с контактных адресов электронной почты Сторон, являются документами, составленными в простой письменной форме и надлежаще подписанными соответствующей Стороной (отправителем) аналогом собственноручной подписи. Стороны соглашаются, что такие документы (сообщения) будут иметь юридическую силу без каких-либо дополнительных подтверждений или оформлений (в том числе без их собственноручного подписания), если только иное прямо не указано на Сайте Агента или не согласовано Сторонами.
	</div>
</div>
</body><input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>

<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>

