<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/games.css}"/>

</head>

<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения<div th:if="${checkMessage}" class="ping"></div></a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myBuys}" class="header__item">Покупки</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myBuysHistory}">История</a>
					</div>
				</div>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myLots}" class="header__item">Продажи</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myLotsHistory}">История</a>
					</div>
				</div>
				<li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Финансы
					<div th:text="${userBalance} +'₽'"></div>
				</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user"
																																																								width="60" height="60"
																																																								class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a href="#">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>

<div class="container_game">
	<div class="grid-row">
		<div class="card" th:each="lot : *{lots}">
			<div class="face face1 lot">
				<div class="content content1">
					<img th:src="@{/images/lot.png}">
					<h3 th:utext="*{lot.getGame()}"></h3>
					<h3 th:utext="*{lot.getCategory()}"></h3>
				</div>
			</div>
			<div class="face face2 unAuto lot2">
				<div class="content">
					<p class="item" th:if="${mode == null || mode.equals('buy')}" ><a  th:href="@{/user/profile(name=*{lot.getSeller()})}" th:text="*{'Продавец: ' + lot.getSeller()}"></a></p>
					<p class="item" th:if="${mode != null && mode.equals('sell')}" ><a  th:href="@{/user/profile(name=*{lot.getSeller()})}" th:text="*{'Покупатель: ' + lot.getSeller()}"></a></p>
					<p class="item" th:if="*{lot.getStatus() != null}" th:text="*{'Статус: ' + lot.getStatus()}"></p>
					<p class="item" th:if="*{lot.keys.indexOf(item) < 3}" th:each="item : *{lot.keys}" th:text="*{item+ ': '+lot.values.get(lot.keys.indexOf(item))}"></p>
					<a  th:if="*{lot.getStatus() == null}" class="uncover green" th:href="@{/user/approve/lot(id=*{lot.id})}">Товар получен ✓</a>
					<a  th:if="*{lot.getStatus() == null}" class="uncover red" th:href="@{/user/dismiss/lot(id=*{lot.id})}">Возврат средств ✗</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    let box = document.querySelector('.box');
    let width = box.offsetWidth;
    let height = box.offsetHeight;
  });
</script>
