<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения<div th:if="${checkMessage}" class="ping"></div></a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myBuys}" class="header__item">Покупки</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myBuysHistory}">История</a>
					</div>
				</div>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myLotsActive}" class="header__item">Продажи</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/user/watch/myLots}">Лоты</a>
						<a th:href="@{/user/watch/myLotsHistory}">История</a>
					</div>
				</div>
				<li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Финансы
					<div th:text="${userBalance} +'₽'"></div>
				</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user"
																																																								width="60" height="60"
																																																								class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a href="#">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>
<input type="hidden" id="logo" th:value="${userLogo}" class="form-control"/>
<div class="wrapper">
	<div class="container">
		<div class="left">
			<div class="top">
				<form th:action="@{/user/watch/selectedChats}" method="post">
					<input type="search" id="chatName" name="chatName" pattern=".*\S.*">
					<button class="search" type="submit">
						🔍
					</button>
				</form>
			</div>
			<ul class="people">
				<li class="person" th:each="chat: ${chats}" th:data-chat="${chat.user}" th:data-chat-friend="${chat.user}">
					<img th:src="${chat.logo}" alt="logo"/>
					<span class="name" th:text="${chat.user}"></span>
					<span class="time" th:text="${chat.time}"></span>
					<span class="preview" th:id="${chat.user}" th:text="${chat.message}"></span>
					<span class="read" title="Доставлено" th:if="${!chat.checked}"><svg xmlns="http://www.w3.org/2000/svg"
																																							class="icon icon-tabler icon-tabler-check" width="24"
																																							height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
																																							fill="none"
																																							stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M5 12l5 5l10 -10"/>
</svg></span>
					<span class="read" title="Прочитано" th:if="${chat.checked}"><svg xmlns="http://www.w3.org/2000/svg"
																																						class="icon icon-tabler icon-tabler-checks" width="24"
																																						height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
																																						fill="none"
																																						stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M7 12l5 5l10 -10"/>
  <path d="M2 12l5 5m5 -5l5 -5"/>
</svg></span>
				</li>
			</ul>
		</div>
		<div class="right">
			<form id="messageForm" name="messageForm" nameForm="messageForm" enctype="multipart/form-data">
				<div class="top"><span><i class='fa fa-user-circle'></i>: <a class="name" th:if="${chats != null}"
																																		 th:href="@{/user/profile(name=${chats[0].user})}" th:text="${chats[0].user}"></a></span></div>

				<div id="messageArea" class="chat" th:each="chat: ${chats}" th:data-chat="${chat.user}" th:data-chat-main="${chat.user}">
					<input type="hidden" id="receiver" th:value="${chat.user}" class="user form-control"/>
					<div class="conversation-start" >
						<span th:text="${chat.time}"></span>
					</div>
					<div th:each="message : ${chat.messages}">
					<div class="checked bubble" th:if="${!message.getContent().equals('')}"

							 th:classappend="${(!message.isSystem() && message.getSender_id() ==  me? 'me ': '') + (!message.isSystem() && message.getReceiver_id() ==  me? 'you ': '')
							 + (message.checked ? 'checked': 'unchecked') + (message.isSystem()? ' system': '') }"

							 th:text="${message.getContent()}">

					</div>
						<img th:if="${message.getContent().equals('') && message.file != null}" th:src="${'data:image/png;base64,' + message.file}"
								 th:classappend="${(!message.isSystem() && message.getSender_id() ==  me? 'me': '') + (!message.isSystem() && message.getReceiver_id() ==  me? 'you': '')}"
								 class="user_image">

					</div>
				</div>
				<div class="write">
					<input type="text" id="message"
								 autocomplete="off" class="form-control"/>
					<label for="file">
						<img th:src="@{/images/attach.svg}" class="attach" width="32" height="32"/>
					</label>
					<input type="file" id="file" style="display: none" accept="image/png, image/jpeg">

					<button type="submit" class="send primary">Отправить</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body><input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>

<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<script type="text/javascript" th:src="@{/scripts/chat.js}"></script>

