<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div class="container">
	<form th:action="@{/home}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Назад</button>
	</form>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/user/edit/lot}" method="post" class="form-horizontal"
							role="form">
					<h2>Редактирование лота</h2>
					<div class="form-group">
						<div class="col-sm-9">
							<div th:each="item : *{lot.list}">
								<label th:text="*{item.string}"></label>
								<div th:if="*{item.arrString != null}">
									<select name="subTemplates" id="subTemplates" required>
										<option th:each="sub : *{item.getArrString()}" th:value="*{sub}" th:text="*{sub}">
										</option>
									</select>
								</div>
								<div th:if="*{item.getArrString() == null}">
									<input name="templates" id="templates" type="text" th:value="*{lot.lot.templates.get(lot.list.indexOf(item))}" th:placeholder="*{item.string}" class="form-control"/>
								</div>
							</div>
							<label>Цена</label>
							<input name="cost" id="cost" th:value="*{lot.lot.cost}" type="text" class="form-control"/>
						</div>
						<input type="hidden" name="id" id="id" th:value="*{lot.lot.id}" class="form-control"/>
						<input type="hidden" name="seller_id" id="seller_id" th:value="*{lot.lot.seller_id}"class="form-control"/>
						<input type="hidden" name="category_id" id="category_id" th:value="*{lot.lot.category_id}" class="form-control"/>
						<div class="form-group">
							<div class="col-sm-9">
								<button type="submit" class="btn btn-primary btn-block">Сохранить лот</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
</body>
</html>
