<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>PlaySpase</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/games.css}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700" rel="stylesheet">

</head>

<body>
<nav class="nav">
  <div class="container">
    <div class="logo">
      <a href="/" class="header__logo-link">
        <img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
      </a>
    </div>
    <div class="search_box">
      <form th:action="@{/user/search}" method="post">
        <input type="search" name="name" pattern=".*\S.*">
        <button class="search-btn" type="submit">
          <span>Поиск</span>
        </button>
      </form>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><a th:href="@{/}" class="header__item">Главная</a></li>
        <li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
        <li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
        <li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
        <li th:if="${user != null}"><a href="#" class="header__item">Сообщения</a></li>
        <li th:if="${user != null}"><a th:href="@{/user/watch/myLots}" class="header__item">Мои лоты</a></li>
        <li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Выплаты</a></li>
        <li th:if="${user != null}"><a th:href="@{/logout}" class="header__item">Выход</a></li>
      </ul>
    </div>
    <span class="navTrigger"><i></i><i></i></span>
  </div>
</nav>

<!--<div class="container_body">
	<div class="grid-row">
		<div class="grid-item" th:each="item : ${gameWrappers}">
			<p class="game_title" th:utext="${item.getGame().getName()}"></p>
			<div class="categories">

				<a th:if="${item.getCategories()} != null"
					 th:each="category : ${item.getCategories()}" th:href="@{/user/watch/lots(id=${category.getId()})}" th:utext="${category.getName()}"></a>
			</div>

		</div>
	</div>
</div>-->
<body>
<div class="container_game">
  <div class="grid-row">
    <div class="card" th:each="item : ${gameWrappers}">
      <div class="face face1">
        <div class="content content1">
          <img th:src="@{/images/console.png}">
          <h3 th:utext="${item.getGame().getName()}"></h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <a th:if="${item.getCategories()} != null"
             th:each="category : ${item.getCategories()}" th:href="@{/user/watch/lots(id=${category.getId()})}" th:utext="${category.getName()}"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</body><input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</body><input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>

<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#c-all').on('change', function () {
      var $this = $(this),
        $table = $this.closest('.flex-table'),
        $checkboxes = $table.find('input[type="checkbox"]');
      if ($this.is(':checked')) {
        $checkboxes.prop('checked', true);
      } else {
        $checkboxes.prop('checked', false);
      }
    });
  });
</script>
