<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
<head>
	<title>PlaySpase</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/lot.css}"/>

</head>
<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения</a></li>
				<li th:if="${user != null}"><a href="#" class="header__item">Покупки</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/myLots}" class="header__item">Продажи</a></li>
				<li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Финансы</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user" width="60" height="60" class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a href="#">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>
<div class="login-box">
	<form autocomplete="off" action="#" th:action="@{/admin/create/game}"
				th:object="${game}" method="post" class="form-horizontal"
				role="form"  enctype="multipart/form-data">
		<h2>Игра</h2>
		<input type="hidden" name="id" id="id" th:value="*{id}">
		<div class="user-box">
			<p><label>Название</label></p>
			<p><input type="text" th:field="*{name}" placeholder="Название игры"
								 class="form-control"/></p><label
			th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
			class="validation-message"></label>
		</div>
		<div class="user-box">
			<p><label>Лого</label></p>
			<img th:if="*{logo != null}" th:src="${game.getPath()}" alt="glogo" width="100" height="56"/>
			<p><input type="file"  name="file" accept="image/png, image/jpeg" placeholder="Загрузите логотип"
								class="form-control"/></p>
		</div>
		<div class="user-box">
			<p><label>Добавить в топ*</label></p>
			<p><input type="checkbox"  th:field="*{top}"
								class="form-control"/></p>
		</div>
		<div class="user-box container1">
			<button class="add_form_field">Добавить тег &nbsp;
				<span style="font-size:16px; font-weight:bold;">+ </span>
			</button>
			<div th:each="tag: *{tags}"><input type="text" th:value="${tag}" name="tags" placeholder="Теги для поиска игры"></div>
		</div>

		<button type="submit">Создать</button>
		<button onclick="history.back()">Отмена</button>
	</form>
	<h2><span class="text-success" th:utext="${adminMessage}"></span></h2>
</div>

</body><input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>
<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var max_fields = 10;
    var wrapper = $(".container1");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function (e) {
      e.preventDefault();
      if (x < max_fields) {
        x++;
        $(wrapper).append('<div><input type="text" th:field="*{tags}" name="tags" id="tags"/><a href="#" class="delete">Delete</a></div>'); //add input box
      } else {
        alert('You Reached the limits')
      }
    });

    $(wrapper).on("click", ".delete", function (e) {
      e.preventDefault();
      $(this).parent('div').remove();
      x--;
    })
  });
</script>


