<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PlaySpase</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/" class="header__logo-link">
                <img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a th:href="@{/}" class="header__item">Главная</a></li>
                <li><a th:href="@{/login}" class="header__item">Вход</a></li>
                <li><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
            </span>
    </div>
</nav>
<body>
<div class="login-box">
    <h2>PlaySpase</h2>
    <form th:action="@{/login}" method="POST" id="login">
        <div class="user-box">
            <input type="text" value="2" id="user_name" name="user_name" placeholder="Имя пользователя" required="">
            <label>Имя пользователя</label>
        </div>
        <div class="user-box">
            <label >Пароль</label>
            <input type="password"  value="1" id="password" name="password" placeholder="Пароль" required="">
        </div>
        <div class="user-box error" th:if="${param.error}">
            <p>User Name or Password invalid, please verify</p>
        </div>
        <a class="left" href="#" onclick="document.getElementById('login').submit()">Войти</a>
        <a class="right" th:href="@{/registration}">Создать аккаунт</a>
        <div>
            <h4><a class="alien" th:href="@{/oauth2/authorization/google}">Войти с помощью Google</a></h4>
        </div>
    </form>
</div>
</body><input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>
<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>
