<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
<head>
	<title>PlaySpase</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/lot.css}"/>

</head>
<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения<div th:if="${checkMessage}" class="ping"></div></a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myBuys}" class="header__item">Покупки</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myBuysHistory}">История</a>
					</div>
				</div>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myLots}" class="header__item">Продажи</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myLotsHistory}">История</a>
					</div>
				</div>
				<li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Финансы
					<div th:text="${userBalance} +'₽'"></div>
				</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user"
																																																								width="60" height="60"
																																																								class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a href="#">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>
<div class="login-box">
	<div th:if="${lot == null}">
		<form autocomplete="off" action="#" th:action="@{/user/create/lot}" id="prelot" method="get" role="form">
			<select name="game" id="id" required>
				<option value="0" hidden selected>Выберите игру...</option>
				<option th:each="game : ${games}" th:value="${game.getId()}" th:text="${game.getName()}">
				</option>
			</select>
			<select  name="id" id="category" required>
				<option value="0" hidden selected>Выберите категорию...</option>
				<option  th:each="category : ${categories}" th:class="${category.getGameId()}" th:value="${category.category.getId()}" th:text="${category.category.getName()}"></option>
			</select>
			<button type="submit">Создать лот</button>
			<a href="/">Отмена</a>
		</form>
	</div>


	<div th:if="${lot != null}">
		<h2 th:text="*{lot.category}"></h2>
		<form autocomplete="off" th:action="@{/user/create/lot}" id="lot" method="post" role="form">
			<input type="hidden" id="category_id" name="category_id" th:value="*{category_id}" class="form-control"/>
			<div class="user-box" th:each="item : *{lot.list}">
				<div th:if="*{item.arrString != null}">
					<p><label th:text="*{item.string}"></label></p>
					<p><select name="subTemplates" id="subTemplates" required>
						<option th:each="sub : *{item.getArrString()}" th:value="*{sub}" th:text="*{sub}">
						</option>
					</select></p>
				</div>
				<div th:if="*{item.getArrString() == null}">
					<p><label th:text="*{item.string}"></label></p>
					<p><input name="templates" id="templates" type="text" th:placeholder="*{item.string}" required/></p>
				</div>
			</div>
			<div class="user-box">
				<p><label th:if="${category.subCost == null}">Цена</label></p>
				<p><label th:if="${category.subCost != null}" th:text="${'Цена (за '+category.subCost+')'}">Цена</label></p>
				<p><input name="cost" id="cost" type="number" min="1" step="1" required/></p>
				<p><input type="hidden" name="tax" id="tax" th:value="${tax}"/></p>
				<p ><label th:text="'Комиссия сервиса:' + ${tax} + '%'"></label></p>
				<p ><label id="summary"></label></p>
			</div>
			<div class="user-box">
				<p><label th:text="${'Количество'}"></label></p>
				<p><input th:if="${!category.isAllowDecimal()}" name="count" type="number" min="0" step="1" required/></p>
				<p><input th:if="${category.isAllowDecimal()}" name="count" id="count" type="number" min="0" step="any" required/></p>
			</div>
			<button type="submit">Создать лот</button>
			<button onclick="history.back()">Отмена</button>
		</form>
	</div>
</div>
</body><input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>
<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>

<script type="text/javascript">
  jQuery(document).ready(function($){
    $('#id').on('keydown', function(e){
      var className = e.target.value;
      $('#category option').prop('disabled', true);
      $('#category').find('option.' + className).prop('disabled', false);
    });

    $('#cost').on('keydown', function(e){
      var cost = document.getElementById('cost');
      var tax = document.getElementById('tax');
      var count = document.getElementById('count');
      if (count.value) {
        $('#summary').html('Итог: '+((100-parseFloat(tax.value)) * parseFloat(cost.value)* parseFloat(count.value)) /100);
			} else {
        $('#summary').html('Итог: '+((100-parseFloat(tax.value)) * parseFloat(cost.value)) /100);
      }
    });
    $('#count').on('keydown', function(e){
      var cost = document.getElementById('cost');
      var tax = document.getElementById('tax');
      var count = document.getElementById('count');
      if (count.value) {
        $('#summary').html('Итог: '+((100-parseFloat(tax.value)) * parseFloat(cost.value)* parseFloat(count.value)) /100);
      }
    });
  });
</script>
