<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.4/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/lots.css}"/>

</head>
<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения
					<div th:if="${checkMessage}" class="ping"></div>
				</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myBuys}" class="header__item">Покупки</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myBuysHistory}">История</a>
					</div>
				</div>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myLotsActive}" class="header__item">Продажи</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/user/watch/myLots}">Лоты</a>
						<a th:href="@{/user/watch/myLotsHistory}">История</a>
					</div>
				</div>
				<li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Финансы
					<div th:text="${userBalance} +'₽'"></div>
				</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user"
																																																								width="60" height="60"
																																																								class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a href="#">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>
<div class="about">
	<div class="head" th:text="${counter}">
	</div>
	<div class="sub" th:text="${category.subHeader}">
	</div>
</div>
<div class="buttons">
	<form th:action="@{/user/create/lot}" method="get">
		<input type="hidden" name="id" th:value="${category.getId()}">
		<button class="button main-b" th:text="'Продать ' + ${category.getName()}"></button>
		<a class="button sub" th:each="cat : ${categories}" th:if="${categories != null && cat != category}"
			 th:href="@{/user/watch/lots(id=${cat.getId()})}" th:utext="${cat.getName()}"></a>
	</form>
</div>
<div class="filter-buttons">
	<form th:if="${lots != null && lots.size() > 0 && subs != null}" th:action="@{/user/watch/lots}" method="get" id="onlineUsers" style="display: -webkit-inline-box;">
		<input type="hidden" name="id" th:value="${category.id}"/>
		<input type="hidden" name="online" th:value="${online != null? online: false}"/>
		<input type="hidden" id="check" name="check"/>
		<select name="filters" th:each="sub : ${subs}">
			<option th:text="${sub.string}" selected disabled></option>
			<option th:each="item : ${sub.arrString}" th:value="${sub.string + ' filteredValue ' + item}" th:text="${item}"></option>
		</select>
		<button type="submit" class="filter" th:if="${lots != null && lots.size() > 0 && subs != null}">Применить фильтры</button>
		<!-- Toggle B -->
		<div class="flex items-center w-full">

			<label for="checker" class="flex items-center cursor-pointer">
				<!-- toggle -->
				<div class="ml-3 text-gray-700 font-medium">
					Продавцы онлайн
				</div>
				<div class="relative">
					<!-- input -->
					<input type="checkbox" name="checker" th:checked="${online != null? online: false}" value="false" id="checker" class="sr-only" onchange="boxDisable();">
					<!-- line -->
					<div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
					<!-- dot -->
					<div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
				</div>
			</label>
		</div>
	</form>
</div>
<table th:if="${lots != null && lots.size() > 0}" id="myTable">
	<thead>
	<tr th:if="${lots.get(0).getSeller() != null}" th:each="lot : ${lots.get(0)}">
		<th scope="col" th:each="item : *{lot.keys}" th:text="*{item}"></th>
		<th scope="col">Продавец</th>
		<th scope="col" th:if="${category.isShowCount()}" th:text="${'Количество'}"></th>
		<th scope="col" th:if="${category.subCost == null}">Цена</th>
		<th scope="col" th:if="${category.subCost != null}" th:text="${'Цена ('+category.subCost+')'}"></th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="lot : ${lots}">
		<td th:each="item : *{lot.keys}" th:text="*{lot.values.get(lot.keys.indexOf(item))}"></td>
		<td th:if="*{!lot.getSeller().equals(userName)}">
			<p><div class="userBlock">
			<a th:href="@{/user/profile(name=*{lot.getSeller()})}" style="display: inherit;">
			<img th:src="${lot.getSellerLogo()}" alt="user"
					 width="25" height="25"/>
				<div class="stars" th:if="${lot.getStars() != null}">
					<svg xmlns="http://www.w3.org/2000/svg" th:classappend="${lot.getStars() >=  1}? filled: ''" class="icon icon-tabler icon-tabler-star" width="32" height="32" viewBox="0 0 24 24"
							 stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" th:classappend="${lot.getStars() >=  2}? filled: ''" class="icon icon-tabler icon-tabler-star" width="32" height="32" viewBox="0 0 24 24"
							 stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" th:classappend="${lot.getStars() >=  3}? filled: ''" class="icon icon-tabler icon-tabler-star" width="32" height="32" viewBox="0 0 24 24"
							 stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" th:classappend="${lot.getStars() >=  4}? filled: ''" class="icon icon-tabler icon-tabler-star" width="32" height="32" viewBox="0 0 24 24"
							 stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" th:classappend="${lot.getStars() >=  5}? filled: ''" class="icon icon-tabler icon-tabler-star" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5"
							 stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
					</svg>
				<div style="margin-top: 7px;" th:text="${' '+lot.feedbackCount}"></div>
				</div></a>
		</div>
			</p>
		</td>
		<td th:if="*{lot.getSeller().equals(userName)}"><a th:href="@{/user/profile(name=*{lot.getSeller()})}">Вы</a></td>
		<td th:if="${category.isShowCount()}" th:text="*{lot.getCount()}"></td>
		<td th:text="*{lot.getGame()}"></td>
		<td class="transparent"><a th:if="*{!lot.getSeller().equals(userName)}" th:href="@{/user/watch/currentLot(id=*{lot.id})}"
															 class="link">Просмотр</a></td>
	</tr>
	</tbody>
</table>

</body>
<input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>

<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>

<script type="text/javascript" th:src="@{/scripts/lots.js}"></script>

<script>
  function boxDisable() {
   document.getElementById('check').value = true;
   document.getElementById('onlineUsers').submit();
  }
</script>