<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/games.css}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700" rel="stylesheet">

</head>
<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/lists}" class="header__item">Заявки</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения<div th:if="${messagesCount > 0}" th:text="${messagesCount}" class="ping"></div></a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myBuys}" class="header__item">Покупки<div th:if="${buysCount > 0}" th:text="${buysCount}" class="ping"></div></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myBuysHistory}">История</a>
					</div>
				</div>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/watch/myLotsActive}" class="header__item">Продажи<div th:if="${sellsCount > 0}" th:text="${sellsCount}" class="ping"></div></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/watch/myLots}">Лоты</a>
						<a th:href="@{/user/watch/myLotsHistory}">История</a>
					</div>
				</div>
				<li th:if="${user != null && user.equals('USER')}"><a th:href="@{/user/finances}" class="header__item">Финансы
					<div th:text="${userBalance} +'₽'"></div>
				</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user"
																																																								width="60" height="60"
																																																								class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a th:href="@{/user/referals}">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>

<div class="container_game">
	<a href="https://freekassa.ru" target="_blank" rel="noopener noreferrer">
		<img src="https://cdn.freekassa.ru/banners/big-dark-1.png" title="Прием платежей">
	</a>
	<div class="grid-row">
		<div class="card" th:each="item : ${gameWrappers}">
			<div class="face face1">
				<div th:if="*{item.getGame().isTop()}" class="top"><img th:src="@{/images/top.png}" alt="top" width="32" height="32"></div>
				<div class="content content1">
					<img th:if="*{item.getGame().getLogo() == null}" th:src="@{/images/console.png}">
					<img th:if="*{item.getGame().getLogo() != null}" th:src="${item.getGame().getPath()}">
					<h3 th:utext="${item.getGame().getName()}"></h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<a th:if="${item.getCategories()} != null"
						 th:each="category : ${item.getCategories()}" th:href="@{/user/watch/lots(id=${category.getId()})}" th:utext="${category.getName()}"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="sup-buttons">
		<iframe src="https://widgets.freekassa.ru?type=payment-button&currency=RUB&destination=PlaySpase&theme=light&default_amount=200&button_text=Оплатить&button_size=36px&shopId=19959&s=0dc9b3ea0810d340605ccc7aab483092" width="300" height="50" frameborder="0"></iframe>
		<a th:href="@{/user/create/subLot}">
			<button type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart-plus" width="44" height="44" viewBox="0 0 24 24"
						 stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<circle cx="6" cy="19" r="2"/>
					<circle cx="17" cy="19" r="2"/>
					<path d="M17 17h-11v-14h-2"/>
					<path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13"/>
					<path d="M15 6h6m-3 -3v6"/>
				</svg>
				<div class="text">Выставить лот на продажу</div>
			</button>
		</a>

		<a th:href="@{/user/referals}">
			<button type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-money" width="44" height="44" viewBox="0 0 24 24"
						 stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"/>
					<rect x="9" y="3" width="6" height="4" rx="2"/>
					<path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"/>
					<path d="M12 17v1m0 -8v1"/>
				</svg>
				<div class="text">Заработать с нами</div>
			</button>
		</a>

		<a th:href="@{/user/watch/chats}">
			<button type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help" width="44" height="44" viewBox="0 0 24 24"
						 stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<circle cx="12" cy="12" r="9"/>
					<line x1="12" y1="17" x2="12" y2="17.01"/>
					<path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"/>
				</svg>
				<div class="text">Обратиться в поддержку</div>
			</button>
		</a>
	</div>
</div>
</body>
<input type="hidden" id="name" th:value="${userName}" class="form-control"/>
</html>

<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>
