<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div class="container">
	<form th:action="@{/home}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Назад</button>
	</form>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
					<div class="col-sm-9">
						<div style="background-color: antiquewhite; border-radius: 10px; margin: 10px;"  th:each="lot : *{lots}">
							<div th:each="item : *{lot.keys}">
								<label th:text="*{item}"></label>
								<label th:text="*{lot.values.get(lot.keys.indexOf(item))}"></label>
							</div>
							<a th:href="@{/user/edit/lot(id=*{lot.id})}">Редактировать лот</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>