<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/ref.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/reftable.css}"/>
</head>

<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div class="search_box">
			<form th:action="@{/user/search}" method="post">
				<input type="search" name="name" pattern=".*\S.*">
				<button class="search-btn" type="submit">
					<span>Поиск</span>
				</button>
			</form>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<div class="dropdown near-input">
					<li th:if="${user != null}"><a href="#" class=" header__item dropbtn">Помощь</a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/rules/site}">Правила сайта</a>
						<a th:href="@{/user/rules/buy}">Правила покупки</a>
						<a th:href="@{/user/rules/sell}">Правила продажи</a>
						<a th:href="@{/user/help}">Обратиться в поддержку</a>
					</div>
				</div>
				<li><a th:href="@{/}" class="header__item">Главное</a></li>
				<li th:if="${user == null}"><a th:href="@{/login}" class="header__item">Вход</a></li>
				<li th:if="${user == null}"><a th:href="@{/registration}" class="header__item">Регистрация</a></li>
				<li th:if="${user != null && user.equals('ADMIN')}"><a th:href="@{/user/goHome}" class="header__item">Админ панель</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/chats}" class="header__item">Сообщения</a></li>
				<li th:if="${user != null}"><a href="#" class="header__item">Покупки</a></li>
				<li th:if="${user != null}"><a th:href="@{/user/watch/myLots}" class="header__item">Продажи</a></li>
				<li th:if="${user != null && user.equals('USER')}"><a href="#" class="header__item">Финансы</a></li>
				<div class="dropdown">
					<li th:if="${user != null}"><a th:href="@{/user/profile(id=${id})}" class="header__item dropbtn"><img th:src="${userLogo}" alt="user"
																																																								width="60" height="60"
																																																								class="user-pic"/></a></li>
					<div class="dropdown-content">
						<a th:href="@{/user/profile(id=${id})}">Профиль</a>
						<a th:href="@{/home}">Настройки</a>
						<a href="#">Заработать с нами</a>
						<a th:href="@{/logout}">Выход</a>
					</div>
				</div>
			</ul>
		</div>
		<span class="navTrigger"><i></i><i></i></span>
	</div>
</nav>
<input type="hidden" id="name" th:value="${userName}" class="form-control"/>

<div class="user-wrapper" th:if="${user != null && user.equals('USER')}">
	<div class="item">
		<p>Ваша реферальная ссылка</p>
		<input type="hidden" id="href" th:value="${'http://playspase.ru/registration?code='+id}"/>
		<div class="refHref"><p class="js-copytextarea" th:text="${'http://playspase.ru/registration?code='+id}"></p>
			<button class="copy_link_mess" onclick="copytext()"><i class="fa fa-copy" style="font-size:24px;"></i></button>
			<p><label id="summary"></label></p>
		</div>
		<p th:text="${'Баланс: ' + avaliableRef +'₽'}"></p>
		<div class="refHref">
		<form th:action="@{/user/ref}" method="post">
			<button class="button-user">Вывести в финансы</button>
		</form>
		<form th:action="@{/user/referalsCheckOutHistory}" method="get">
			<button class="button-user">История вывода</button>
		</form>
		</div>
		<br>
		<div class="refHref left">
		<form th:action="@{/user/referals}" method="get">
			<button class="button-user">Мои рефералы</button>
		</form>
		<form th:action="@{/user/referalsHistory}" method="get">
			<button class="button-user">История</button>
		</form>
		</div>
	</div>
</div>

<table th:if="${reportsCheck != null}" id="myTable">
	<thead>
	<tr>
		<th scope="col">Дата операции</th>
		<th scope="col">Деньги</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="user: ${reportsCheck}">
		<td th:text="*{user.getDate()}"></td>
		<td th:text="*{user.getRefValue() +'₽'}"></td>
	</tr>
	</tbody>
</table>

<table th:if="${reports != null}" id="myTable">
	<thead>
	<tr>
		<th scope="col">Пользователь</th>
		<th scope="col">Дата операции</th>
		<th scope="col">Игра</th>
		<th scope="col">Деньги</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="user: ${reports}">
		<td th:text="*{user.getUserName()}"></td>
		<td th:text="*{user.getDate()}"></td>
		<td th:text="*{user.getGame()}"></td>
		<td th:text="*{user.getRefValue() +'₽'}"></td>
	</tr>
	</tbody>
</table>

<table th:if="${users != null}" id="myTable">
	<thead>
	<tr>
		<th scope="col">Пользователь</th>
		<th scope="col">Дата регистрации</th>
		<th scope="col">Деньги</th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="user: ${users}">
		<td th:text="*{user.getUserName()}"></td>
		<td th:text="*{user.getDate()}"></td>
		<td th:text="*{user.getRefValue()}"></td>
		<td><a th:if="${user.getRefValue() > 0}" class="uncover green" th:href="@{/user/getRef(id=*{user.getId()})}">Вывести</a>
		</td>
	</tr>
	</tbody>
</table>



</body>
</html>

<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script type="text/javascript"
				src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/wait-message.js}"></script>

<script type="text/javascript" th:src="@{/scripts/ref.js}"></script>
<script>
  function copytext() {
    navigator.clipboard.writeText(document.getElementById("href").value);
    $('#summary').html("✓");
  }
</script>