<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
<head>
	<title>PlaySpase</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

</head>
<body>
<nav class="nav">
	<div class="container">
		<div class="logo">
			<a href="/" class="header__logo-link">
				<img th:src="@{/images/logo.png}" alt="logo" width="64" height="64" class="logo header__logo-pic"/>
			</a>
		</div>
		<div id="mainListDiv" class="main_list">
			<ul class="navlinks">
				<li><a th:href="@{/}" class="header__item">Главная</a></li>
				<li><a th:href="@{/login}" class="header__item">Вход</a></li>
			</ul>
		</div>
		<span class="navTrigger">
                <i></i>
                <i></i>
            </span>
	</div>
</nav>
			<div class="login-box">
				<h2>Регистрация</h2>
				<form th:action="@{/registration}" th:object="${user}" method="POST" id="registration">
					<div class="user-box">
						<input type="text" th:field="*{userName}" placeholder="Имя пользователя" required>
						<label th:if="!${#fields.hasErrors('userName')}">Имя пользователя</label>
						<label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
						class="validation-message"></label>
					</div>
					<div class="user-box">
						<input type="text" th:field="*{email}" placeholder="Почта" required>
						<label th:if="!${#fields.hasErrors('email')}">Почта</label>
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									 class="validation-message"></label>
					</div>
					<div class="user-box">
						<input type="password" th:field="*{password}" placeholder="Пароль" required>
						<label th:if="!${#fields.hasErrors('password')}">Пароль</label>
						<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
									 class="validation-message"></label>
					</div>
					<div class="user-box">
						<input type="password" name="confirm_password" id="confirm_password"
									 placeholder="Пароль" class="form-control" required/> <span id='message'></span></label></label>
						<label>Повторите пароль</label>
					</div>

					<a href="#" onclick="document.getElementById('registration').submit()">Создать аккаунт</a>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>
<!--Head-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/header.js}"></script>
<!--Head-->

<!--Registration-->
<script type="text/javascript" th:src="@{/scripts/registration.js}"></script>
<!--Registration-->

