<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PlaySpase</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}"/>

</head>

<body>
<div class="login-box">
	<h2>PlaySpase</h2>
	<form>
		<div class="user-box">
			<input type="text" name="" placeholder="Имя пользователя" required="">
			<label>Имя пользователя</label>
		</div>
		<div class="user-box">
			<input type="password" name="" placeholder="Пароль" required="">
			<label >Пароль</label>
		</div>
		<a class="left" href="#">			Войти</a>
		<a class="right" href="#">		Создать аккаунт</a>

	</form>
</div>
</body>
</html>
